#loginImg {
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.login-container {
    position: relative;
    margin: 5vh 10% 8vh 10%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 10px 10px #0000001a;
}

.btn-round {
    border-radius: 25px;
    margin-top: 10px;
}

#loadingImg {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right-side {
    padding-top: 5%;
    padding-right: 36px;
    margin-left: auto;
    margin-right: auto;
}

.form-input {
    border-radius: 25px;
    border-width: 2px;
}

.center-form {
    margin-left: auto;
    margin-right: auto;
}

.errText {
    visibility: hidden;
    color:#d10f0f;
    text-align: center;
}

.bottom-text-left {
    position: absolute;
    bottom: 0px;
    left: 66.667%;
    transform: translate(-16.667%);
}

@media only screen and (max-width: 992px) {
    #loginImg {
        display: none;
    }
    .login-container {
        margin: 0;
        height: 80vh;
    }
    .bottom-text-left {
        text-align: center;
        width: 100%;
        left: 0%;
        transform: translate(0%);
    }
    .right-side {
        padding-right: 12px;
    }
}

@media only screen and (max-width: 370px) {
    .login-container {
        margin: 0px;
        height: 93vh;
    }
}