@keyframes fadeIn {
    0%   {height: 1; opacity: 1;}
    25%   {height: 0; opacity: 0;}
    100%  {height: 1; opacity: 1;}
}

/* width */
::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #6666661e; 
    background-color: #42424222;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #767685; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #727080; 
}

body {
    background-image: linear-gradient(0,  #5652b9, #717ce4,#7669e7);
    transition: background-image 0.3s ease-in-out;
    background-attachment: fixed;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: overlay;
    min-width: 310px;
    min-height: 500px;
}

.container-full {
    max-height: 74vh;
    overflow-y: overlay;
}

.container-half {
    max-height: 37vh;
    overflow-y: overlay;

}

.pickerPopupCard {
    background-color: #000;
}

.btn:focus {
    box-shadow: none;
}

.modal-header {
    background-color: rgb(39, 39, 39);
}

.nav-link {
    color: #141414;
}

.modal-footer {
    border-top: 0 none;
}

.modal-content {
    border: #f1f1f1;
    background-color: #ececec;
}

.roomSelecter {
    padding: 12px 1px 3px 1px;
    background-color: #000;
    border-radius: 10px;
    width: 100%;
}

.roomBtn {
    font-size: 14pt;
    color: #575757;
    text-align: left;
    width: 70%;
}

.roomBtn:focus {
    outline: none !important;
    box-shadow: none;
}

div {
   transition: all 0.3s ease-in-out;
}

.margin-0 {
    margin: 0px;
}

@media only screen and (max-width: 992px) {
    .margin-0 {
        margin: 8px 0px 0px 0px;
    }
}

.lightSelecter {
    border-radius: 10px;
	font-size: 14pt;
    color: #575757;
    width: 32.1%;
    height: 85px;
    padding: 5px 0px 15px 0px;
    text-align: center;
    background-color: #000;
    margin: 0.6%;
    /*
    animation-name: fadeIn;
    animation-duration: 0.8s;
    */
}

.text-hover-black {
    color: #474747;
}
.text-hover-black:hover {
    color: #000000;
}

.text-hover-white:hover {
    color: #fff;
}

.text-hover-white {
    color: #b6b6b6;
    transition: 0.2s ease-in-out;
}

.btn-refresh {
    border-radius: 10px;
    height: 43px;
}

.nowrapTxt {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

.textRoom {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.top-bar-right {
    margin-left: auto;
    order: 2;
}

.top-bar-right:hover {
    cursor: pointer;
}

.top-bar {
    display: flex;
}

.pickerActivator {
    margin-top: 0px;
    margin-bottom: 5px;
    width: 100%;
    color: #313131;
    transition: 0.15s ease-in-out;
}

.pickerActivator:hover  {
    margin-top: 5px;
    margin-bottom: 0px;
}

.bottom-text {
    padding-top: 30px;
    padding-bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: relative;
}

.sceneSelecter {
    border-radius: 10px;
	font-size: 14pt;
    color: #dddddd;
    width: 23.8%;
    height: 85px;
    padding: 5px 0px 15px 0px;
    text-align: center;
    background-color: #000;
    margin: 0.6%;

    /*
    animation-name: fadeIn;
    animation-duration: 0.6s;
    */
}

@media only screen and (max-width: 720px) {
    .lightSelecter {
        width: 48.4%;
    }
    .sceneSelecter {
        width: 48.4%;
    }
}

.rounded-15 {
    border-radius: 15px; 
}

.rounded-10 {
    border-radius: 10px;
}

.shadow-cos {
    box-shadow: 5px 10px 10px #0000001a;
}

.link-white {
    color: #fff;
}
.link-white:hover {
    color: #9693d3;
}

.modal-header-15 {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.selected {
    box-shadow: 0 0 0 0.35rem #5a44d98f;
}