.roomSelecter {
    padding: 12px 1px 3px 1px;
    background-color: #000000;
    border-radius: 5px;
    width: 100%;
}

.roomBtn {
    font-size: 14pt;
    color: #575757;
    text-align: left;
    width: 75%;
}

.roomBtn:focus {
    outline: none !important;
    box-shadow: none;
}

.btn-refresh {
    float: right;
}

.lightSelecter {
    border-radius: 4px;
	font-size: 14pt;
    color: #575757;
    width: 190px;
    height: 85px;
    padding: 5px 0px 15px 0px;
    text-align: center;
    background-color: #000000;
    margin: 6px;
}

.nowrapTxt {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

.textRoom {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.top-bar-right {
    margin-left: auto;
    order: 2;
    visibility: hidden;
}

.top-bar-right:hover {
    cursor: pointer;
}

.top-bar {
    display: flex;
}

.pickerActivator {
    width: 100%;
    color: #b3b3b3;
}

.pickerPopupCard {
    background-color: #000000;
}


