.roomSelecter {
    padding: 12px 0px 0px 0px;
	font-size: 14pt;
    color: #575757;
    text-align: left;
    width: 100%;
    background-color: #000000;
}

.btn-refresh {
    float: right;
}

.lightSelecter {
	font-size: 14pt;
    color: #575757;
    width: 190px;
    height: 85px;
    padding: 20px 0px 15px 0px;
    text-align: center;
    background-color: #000000;
    margin: 6px;
}

.nowrapTxt {
    padding: 0px 5px 0px 5px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

.textRoom {
    padding: 0px 15px 12px 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


